h1{
    color: rgb(5, 51, 8);
}

h2{
    color: rgb(108, 67, 67);
}

input{
    color: rgb(28, 217, 234);
}

.Titulo-intermedio{
    color: rgb(216, 32, 32);
}

#element{
    color: blueviolet;
}

[rancio="si"]{
    color: rgb(216, 32, 32);
}

h1:hover{
    color :blue;
}